@model Reservation

@{
    ViewBag.Title = "Home | Detail";

    // Calculate days and total
    var rs = Model;
    var days  = "TODO";
    var total = "TODO";
}

<table class="table detail">
    <tr>
        <th>Id</th>
        <td>@rs.Id</td>
    </tr>
    <tr>
        <th>Member</th>
        <td>@rs.Member.Name (@rs.Member.Email)</td>
    </tr>
    <tr>
        <th>Room</th>
        <td>@rs.Room.Id (@rs.Room.Type.Id)</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@rs.Room.Type.Price</td>
    </tr>
    <tr>
        <th>Check In</th>
        <td>@rs.CheckIn.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Check Out</th>
        <td>@rs.CheckOut.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Days</th>
        <td>@days</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>@total</td>
    </tr>
    <tr>
        <th>Paid</th>
        <td>@(rs.Paid ? "Yes" : "No")</td>
    </tr>
</table>

<p>
    <button data-get="/Home/List">List</button>
</p>
