@{
    ViewBag.Title = "Home | Index";
}

<table class="table">
    <caption>Members</caption>
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Name</th>
        <th>PhotoURL</th>
    </tr>
    @foreach (Member m in ViewBag.Members)
    {
        <tr>
            <td>@m.Email</td>
            <td>123456</td>
            <td>@m.Name</td>
            <td>@m.PhotoURL</td>
        </tr>
    }
</table>

<br>

<table class="table">
    <caption>Types</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (Demo.Models.Type t in ViewBag.Types)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.Name</td>
            <td>@t.Price</td>
        </tr>
    }
</table>

<br>

<table class="table">
    <caption>Rooms</caption>
    <tr>
        <th>Id</th>
        <th>TypeId</th>
    </tr>
    @foreach (Room r in ViewBag.Rooms)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.TypeId</td>
        </tr>
    }
</table>
