@model IEnumerable<Reservation>

@{
    ViewBag.Title = "Home | List";
}

<p>
    <button data-post="/Home/Reset">Reset</button>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Member</th>
        <th>Room</th>
        <th>Price</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Days</th>
        <th>Total</th>
        <th>Paid</th>
        <th></th>
    </tr>

    @foreach (var rs in Model)
    {
        // Calculate days and total
        var days  = "TODO";
        var total = "TODO";

        <tr>
            <td>@rs.Id</td>
            <td>@rs.Member.Name (@rs.Member.Email)</td>
            <td>@rs.Room.Id (@rs.Room.Type.Id)</td>
            <td>@rs.Price</td>
            <td>@rs.CheckIn.ToString("yyyy-MM-dd")</td>
            <td>@rs.CheckOut.ToString("yyyy-MM-dd")</td>
            <td>@days</td>
            <td>@total</td>
            <td>@(rs.Paid ? "Yes" : "No")</td>
            <td>
                <button data-get="/Home/Detail?Id=@rs.Id">Detail</button>
            </td>
        </tr>
    }
</table>
