@model Movie
@{
    ViewBag.Title = "Movie | Detail";
}

<img src="/images/@Model.Image" alt="@Model.Title" style="width:250px; height:auto;" />
<h2>@Model.Title</h2>
<p>Genre: @Model.Genre</p>
<p>Release Date: @Model.ReleaseDate.ToShortDateString()</p>
<a asp-action="Buy" asp-controller="Ticket" asp-route-movieId="@Model.Id">Buy Ticket</a>
