@model IEnumerable<Movie>
@{
    ViewBag.Title = "Movie | Index";
}

<p>
    <a href="?">All</a>

    @foreach (var m in ViewBag.Movies)
    {
    <text>|</text>
    <a href="?genre=@m.Genre">@m.Genre</a>
    }
</p>

@foreach (var movie in Model)
{
    <div>
        <a asp-action="Detail" asp-controller="Movie" asp-route-id="@movie.Id">
            <img src="/images/@movie.Image" alt="@movie.Title" style="width:150px; height:auto;" />
        </a>
        <h3>@movie.Title</h3>
        <p>@movie.Genre</p>
    </div>
}
